@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<string>
    @{
        Layout = "Views/Shared/_Layout.cshtml";
    }
<div id="target">Woooo!</div>
@section styles{
    <link rel="stylesheet" href="~/Content/jquery.UntappedWidget.min.css" />
}

@section scripts{
    <script src="~/Scripts/jquery.UntappedWidget.js"></script>
    <script> $(document).ready(function() {
    $("#target").untappd("@Model");
});</script>
}